.slider.row
	.slid.active.col-xs-12
		img.slide1-jpg-bg(src="img/slider1.jpg", alt="slide 1")
		include ../../img/svg.min/title-slide1.svg
	.slid.col-xs-12
		img.slide1-jpg-bg(src="img/slider2.jpg", alt="slide 2")
	.slid.col-xs-12
		img.slide1-jpg-bg(src="img/slider3.jpg", alt="slide 3")
	.points
		include ../../img/svg.min/slider-points.svg
		
		
