<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Note List
  link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
  link(rel="stylesheet", href="css/style.css")
body
  div.container
    header.row
      div.hamburger-menu
        button.hamburger &#9776
        button.cross &#735 
      div.col-xs-12.new-note-wrapper
        div.new-note
          div.new-note-btn Добавить заметку
          form.add-note-form.hide.clearfix
            textarea#new-note-text.textarea.form-control
            input.new-note-date(type="datetime", id="datetimepicker")
            button.new-note-add-btn.btn.btn-success(type="button", disabled="disabled") Добавить
    div.row
      main.col-sm-9.col-md-10#notes-conteiner
      div.col-sm-3.col-md-2
        aside.filter
  include item-template.html
  include filter-template.html
  
  script(data-main="js/app" src="js/lib/require.js")
