@mixin font-arial {
  font-family: Arial, "Nimbus Sans L", Helvetica, sans-serif;
}

$footer-bg: #35383c;
$footer-text-color: #5d6063;

.footer{
  $hide: 60px;

  position: relative;

  color: $footer-text-color;
  @include font-arial;
  font-size: 12px;
  line-height: $hide;
  font-style: normal;

  a {
    white-space: pre-wrap;
    color: $footer-text-color;
    &:hover {
      color: $footer-text-color;
      text-decoration: none;
    }
  }

  .address {
    margin-left: 25px;
  }

  .phone {
    margin-left: 50px;
    white-space: pre;
  }

  .email {
    margin-left: 70px;
  }

  .copyright{
    text-align: right;
  }

  #location-svg {
    position: absolute;
    top: 20px;
    width: 12px;
  }

  #phone-svg {
    position: absolute;
    top: 20px;
    left: 343px;
    width: 12px;
  }

  #mail-svg {
    position: absolute;
    top: 22px;
    left: 503px;
    width: 16px;
  }

  @include wide-bg($footer-bg);
}
