$news-bg: #f7f7f7;
$title-color: #2a2d32;

.news-wrapper {
  position: relative;
  @include wide-bg($news-bg);
  padding-bottom: 85px;
}

.title-news {
  margin: 55px 0 43px 0;
  color: $title-color;
  @include font-ubuntu;
  font-weight: 500;
  font-size: 24px;
}
