.social-menu {
	margin: 48px 2px 0 0;
}

.social-menu li {
	display: inline-block;
	float: right;
}

.ico-soc-menu {
	fill: #ccc;
	margin: 0 0 0 17px;
}

.ico-soc-menu:hover{
	fill: #248cec;
}

#facebook-svg {
	width: 8.02px;
	margin-right: 5.5px;
}

#twitter-svg {
	width: 16px;
}

#rss-svg {
	width: 15.06px;
	margin: 1px 1px 0 17px;
}

#linkedin-svg {
	width: 15.5px;
	margin-top: -1px;
}

#skype-svg {
	width: 16px;
}
