	/*@import url(https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic);*/

body {
	font-family:Arial,sans-serif;
	background: #fff;
}

a:link {
	color: #1a0dab;
}

a:visited {
	color: #60a;
}

a:hover {
	text-decoration: underline;
}

/*********************************/
/*******    search form    *******/

.logo {
	display: inline-block;
	height: 37px;
	width: 96px;
	margin: 11px 12px;
	background: url(../img/logo.png) 0px -40px no-repeat;
}

.search-form {
	background: #f1f1f1;
	height: 59px;
	border-bottom: 1px solid #666;
	border-color:  #e5e5e5;
}

.search-input-wrapper {
	display: inline-block;
	position: absolute;
	top: 9px;
	left: 125px;
}

.search-input {
	line-height: 26px;
	width: 576px;
	padding: 5px;
	font-size: 16px;
	text-indent: 3px;
	outline:none;
	border: 1px solid #d9d9d9;
}

.search-input:focus {
	border: 1px solid #4285f4;
}

.search-button {
	display: block;
	position: relative;
	float: right;
	border: none;
	height: 38px;
	width: 38px;
	background: #4285f4;
	cursor: pointer;
}

.search-button:before {
	display: block;
	content: '';
	width: 24px;
	height: 24px;
	top: 8px;
	left: 8px;
	position: absolute;
	background: url(../img/logo.png) no-repeat -107px -55px;
}

/*******************************/
/*********    result    ********/

.result-wrapper {
	width: 600px;
	margin-top: 15px;
	margin-left: 125px;
}

.search-article {
	margin: 20px 0;

}

.title-result {
	font-size: 18px;
	text-decoration: none;
}

.shotr-view {
	line-height: 18px;
	font-size: 14px;
}

.visibleUrl {
	text-decoration: none;
	color: #006621;
	margin: 5px 0px;
}