.smiles {
  display: flex;
  align-items: center;
  justify-content: space-around;

  position: absolute;
  top: -15px;
  right: 0px;

  padding: 3px;
  border: 1px solid $border-color;
  border-radius: 5px;
  background: white;

  opacity: 0;

  cursor: pointer;

}

.smile {
  display: block;
  margin: 3px;
  width: $icon-dimensions;
  height: $icon-dimensions;
  border-radius: 100%;

  &:hover {
    box-shadow: 0 0 4px 0px blue;
  }
}

.btn--smile,
.btn--send {
  padding: 0;
  margin-left: 7px;
  width: 32px;
  height: 32px;
}

.btn--smile,
.btn--smile:active {
  @include sprite-ico(smiling, 2px, 2px, #fff, 25px);
}

.btn--send,
.btn--send:active {
  @include sprite-ico(send, 3px, 3px, #fff, 25px);
}

.smile--smiling {
  @include sprite-ico(smiling, 0px, 0px, #fff, $icon-dimensions);
}
.smile--happy {
  @include sprite-ico(happy, -1px, -1px, #fff, $icon-dimensions + 1px);
}
.smile--confused {
  @include sprite-ico(confused, 0px, 0px, #fff, $icon-dimensions);
}
.smile--sad {
  @include sprite-ico(sad, 0px, 0px, #fff, $icon-dimensions);
}
.smile--send {
  border-radius: 0;
  @include sprite-ico(send, 0px, 0px, #fff, $icon-dimensions);
}
