$control-height: 200px;

.win {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: fixed;

  border: 1px solid $border-color;
  border-radius: 3px;

  box-shadow: 0 0 6px 0px $border-color;

  background: #fff;

  margin: 0;
}

@import "chat";
@import "control";
