$promo--color: $white;

.header__wrapper {
  height: $heder-height - 2px;
  padding-top: 1px;
}

  .promo {
    text-align: center;
    @include Montserrat;
    color: $promo--color;
    margin-top: 220px;
    line-height: normal;
  }

  .promo__title {
    margin: 20px auto auto auto;

    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    
    @include breakpoint(tablet) {
      width: 77%;
      margin: -7px auto auto auto;
      padding-right: 6px;
      letter-spacing: 1px;
      font-size: 50px;
    }
    
    @include breakpoint(desktop) {
      width: 64%;
      margin: -7px auto auto auto;
      padding-right: 6px;
      letter-spacing: 1px;
      font-size: 50px;
    }
  }

  .promo__text {
    margin: 8px auto auto auto;
    letter-spacing: 0.2px;
    line-height: normal;
    @include Roboto;
    font-weight: 300;
    font-size: 18px;
    line-height: normal;
    width: 75%;
    
    @include breakpoint(tablet) {
      margin-top: 27px;
      font: 300 24px Roboto;
    }
    
    @include breakpoint(desktop) {
      margin-top: 27px;
      font: 300 24px Roboto;
    }
  }

  .promo__find-link {
    margin-top: 13px;
    @include breakpoint(tablet) {
      margin-top: 33px;
      width: 226px;
      padding: 11px 0;
    }
    
    @include breakpoint(desktop) {
      margin-top: 33px;
      width: 226px;
      padding: 11px 0;
    }
  }
