.brands {
  $corect-width: 500px;
  margin: 88px -20px 0 -30px;
  // width: calc(100% + $corect-width);

  .brand {
    display: block;
    margin: 0 auto;
    width: 143px;
    height: 62px;
    background: url(../img/brands-sprite.png) no-repeat;
  }

  img, a {
    outline: none;
  }

  #brand1 {
  }

  #brand2 {
    background-position: -143px;
  }

  #brand3 {
    width: 184px;
    background-position: -286px;
  }

  #brand4 {
    background-position: -470px;
  }

  #brand5 {
    background-position: -613px;
  }

  #brand6 {
    background-position: -756px;
  }
}
