$our-services-bg: #2a2d32;
$sevice-item-figcaption: #fff;
$sevice-item-figcaption-hover: #f4b60d;

.our-services {
  position: relative;
  margin: 98px -30px 0 -15px;
  @include font-ubuntu;
  color: #fff;
  padding-top: 1px;

  a{
    position: relative;
    color: $sevice-item-figcaption;
    text-decoration: none;
    &:hover {
      color: $sevice-item-figcaption-hover;
      text-decoration: none;
    }
  }

  @include wide-bg($our-services-bg);
}

.servise-title {
  margin-top: 40px;
  margin-left: 15px;
  font-weight: 500;
  font-size: 24px;
}

.sevice-item {
  margin: 33px 0 0 0;
  figcaption {
    margin: 30px 0 65px 0;
    text-align: center;
    font-size: 16px;
    position: relative;
  }
  figure:active::after {
    $size: 260px;
    display: block;
    position: absolute;
    content: "";
    width: $size;
    height: $size;
    top: 0;
    left: 0;
    background: url($imagesBuildPath + "cross.svg") no-repeat 50% 50%, #248cec;
    background-size: 35px;

    opacity: 0.9;
    z-index: 200;
  }
}
