.slider {
  padding-top: 40px;

  .slid{
    position: relative;
    display: none;
  }
  .active {
    display: block;
  }

  .points {
    position: absolute;
    top: 90%;
    left: 50%;
    .slide-point {
      display: inline-block;
      width: 15px;
      margin-right: 10px;
    }

    .active {
      .cls-2 {
        fill: #231f20;
      }
    }
  }

  #title-slide1 {
    position: absolute;
    left: 51px;
    bottom: 40px;
    width: 308px;
  }
}
