@font-face {
    font-family: 'Helvetica Neue';
    src: url('../font/helveticaneuecyr-roman-webfont.eot');
    src: url('../font/helveticaneuecyr-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/helveticaneuecyr-roman-webfont.woff2') format('woff2'),
         url('../font/helveticaneuecyr-roman-webfont.woff') format('woff'),
         url('../font/helveticaneuecyr-roman-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
	background-color: #f4f4f4;
	min-width: 710px;
	/*background-image: url('../img/BodyBackground.jpg');*/
}
main {
	display: block;
	/*max-width: 1215px;*/
	margin: 0 auto;
	background: url('../img/BodyBackgroundFull.jpg');

}
header {
	display: block;
	height: 37px;
	background-color: #07508f;
	/*background-image: url('../img/HeadeerBacground.png');*/
}

/*Heder buttons*/
.HeaderButton {
	background: url('../img/HeadLine.png') left no-repeat;
	float: right;
	line-height: 37px;
	padding: 0 10px;
	margin-right: -1px;
}
.HeaderButton:first-child {
	margin-right: 20px;
	background: url('../img/HeadLine.png') right no-repeat,
				url('../img/HeadLine.png') left no-repeat;
}

.HeaderButton:hover {
	background: url('../img/HeaderButtonLine.png') left no-repeat,
				url('../img/HeaderButtonLine.png') right no-repeat,
				url('../img/HeaderButtonBackgroung.png');
}
.HeaderButton,
.HeaderButton a,
.HeaderButton p {
	display: inline;
	color: #feffff;
	font-size: 14px;
}

.flag {
	position: relative;
	text-indent: 35px;
}
.flag:before{
	content: "";
	position: absolute;
	display: block;
	width: 21px;
	height: 23px;
	top: 6px;
	left: 15px; 
	background: url('../img/HeaderFlag.png');
}
 /*Heder menu*/
.menu a {
	color: #60b5ed;
	font-size: 14px;
	text-decoration: none;

	float: right;
	line-height: 37px;
	padding: 0 14px;
}
.menu a:hover{
	background: #4eabda;
	color: #fff;
}

/*Sing up form*/

.singUp {
	width: 560px;
	height: 612px;
	margin: auto;
}
.singUp div {
	background-color: rgba(0,0,0,.63);
	display: block;
	margin: 0 auto;
	padding-top: 1px;
}

.singUp p {
	text-align: center;
}

.p1 p {
	line-height: 62px;
	color: #fff;
	font-size: 24px;
	margin-bottom: 2px;
}
button {
	display: block;
	border: 0;
	padding: 0;
	width: 276px;
	height: 35px;
	margin: 35px auto 0 auto;
	background: url('../img/LogInWithFacebook.png') no-repeat;

}
.p2 {
	color: #999999;
	font-size: 14px;
	line-height: 62px;
	background: url('../img/ou.png') no-repeat center;

}

input {
	margin: 0;
	padding: 0;
	border: 0;
}

input[type="text"],
input[type="password"],
input[type="email"] {
	display: block;
	width: 237px;
	height: 35px;

	background: #0f0f0f;
	color: #ccc;
	
	margin: 0 auto 16px auto;
	padding: 0 20px;
	border-bottom: 1px solid #484948;

	font-size: 14px;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
	color: #fff;
	background: #1b5288;
	-webkit-box-shadow: 0px 0px 9px 1px rgba(64,160,255,1);
	-moz-box-shadow: 0px 0px 9px 1px rgba(64,160,255,1);
	box-shadow: 0px 0px 9px 1px rgba(64,160,255,1);
}

label {
	display: block;
	margin: 23px auto;
	width: 237px;
	color: #ccc;
	font-size: 14px;
}

input[type="submit"] {
	display: block;
	margin: 23px auto;
	padding: 10px 13px;

	color: #fff;
	font-size: 14px;

	background: url('../img/ButtonCreateMyAccound.png') no-repeat;
}

.p3 {
	color: #ccc;
	font-size: 11px;
	margin: 20px auto;
}
.dialog {
	padding-bottom: 1px;
}