@font-face {
  font-family: "Ubuntu Condensed";
  src: url("../font/ubuntu-c-webfont.eot");
  src: url("../font/ubuntu-c-webfont.eot?#iefix") format("embedded-opentype"),
       url("../font/ubuntu-c-webfont.woff2") format("woff2"),
       url("../font/ubuntu-c-webfont.woff") format("woff"),
       url("../font/ubuntu-c-webfont.ttf") format("truetype"),
       url("../font/ubuntu-c-webfont.svg#ubuntu_condensedregular") format("svg");
  font-weight: 500;;
  font-style: normal;
}

@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,500,700,300);

@mixin font-ubuntu {
  font-family: "Ubuntu", Arial, "Nimbus Sans L", Helvetica, sans-serif;
}
@mixin font-arial {
  font-family: Arial, "Nimbus Sans L", Helvetica, sans-serif;
}

@mixin font-UbuntuCondensed {
  font-family: 'Ubuntu Condensed', sans-serif;
}
