@import url(https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic);

.clearfix:after {
	display: block;
	content: " ";
	height: 0;
	clear: both;
	visibility: hidden;
}

body {
	font-family:'Open Sans',Helvetica,Arial,sans-serif;
	background: rgb(245,245,245);
}

h1 {
	font-size: 18px;
	margin: 10px auto;
	text-align: center;
}

.wrapper {
	min-width: 320px;
	max-width: 680px;
	margin: 0 auto;
	padding: 10px;
	border: 1px solid #666;
	background: #fff;
}

ol {
	display: inline-block;
	text-align: left;
	margin: 5px 40px;
}

input[type="submit"] {
	display: block;
	margin: 30px auto;
}

form {
	/*text-align: center;*/
}
.checkbox {
	display: block;
}

/*Modal window*/
.modal-bg {
	position: fixed;
	display: flex;
	display: none;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
}
.modal-body {
	width: 400px;
	margin: auto;
	background: #fff;
	border-radius: 6px;
	border: 1px solid rgb(50,50,50);
	box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.75);
}
.modal-heder {
	font-size: 18px;
	margin: 15px 30px;
	/*text-align: center;*/
}
.modal-content {
	text-align: center;
	margin: auto 8px;
	padding: 20px 0px;
	border-top: 1px solid rgb(180,180,180);
	border-bottom: 1px solid rgb(180,180,180);
}
.header-close {
	float: right;
	margin-right: 14px;
	margin-top: -8px;
	opacity: 0.5;
	cursor: pointer;
}
.header-close:hover {
	opacity: 1;
}
.btn-close {
	float: right;
	margin: 15px;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	background-color: #fff;
}
.btn-close:hover {
	color: #333;
    background-color: rgb(230,230,230);
    border-color: rgb(173,173,173);
}