@mixin cut-bg {
  @media only screen and (min-width: $main-width) {
    left: -4999px;
    right: -4999px;
  }
  
  @media only screen and (max-width: $main-width - 1px) {
    overflow-x: hidden;
    width: $main-width;
    left: 0px;
  }
}

@mixin wide-bg($bg-color) {
  &::before {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    background:$bg-color;
    z-index: -1;

    @include cut-bg;
  }
}
