//===================================
//          PROJECT VAR
//===================================

$projectDir: './Project/';

$imgDir: $projectDir + 'img/';
$svgMini: $imgDir + 'svg.min';

$jadeDir: $projectDir + 'jade/';
$jadeTemp: $jadeDir + 'temp/';

$sassDir: $projectDir + 'scss/';
$cssRes: $projectDir + 'css/';

$imagesBuildPath: '../img/';
$cssBuildPath: '../css/';
$fontBuildPath: "../font/";

//===================================
//              MAIN
//===================================

$main-min-width: 768px;
$main-width: 1190px;

.container {
  min-width: $main-min-width;
  width: $main-width;
}

@media only screen and (min-width: $main-width) {
  body {
    overflow-x: hidden;
  }
}
