#body {
	background: #222;
}

#timer {
	background: #222;
	width: 260px;
	margin: 0 auto;
	color: #aaa;
	text-align: center;
}
.timer-clockface {
	text-align: left;
	margin-left: 9px;
}
.btn {
	width: 74px;
}
.timer-list {
	padding-top: 15px;
	font-size: 24px;
}
