<!DOCTYPE html>
html(lang="en-DE")
  head
    meta(charset="UTF-8")
    title URLAUBSGLÜCK
    script(src="js/html5shiv-printshiv.js")
    
    
    link(rel="stylesheet", href="css/jquery.bxslider.css")
    link(rel="stylesheet", href="css/style.css")
    
    <!--[if IE 8]>
    <link href="css/ie8.css" rel="stylesheet" type="text/css" />
    <![endif]-->
    
    <!--[if IE 9]>
    <link href="css/ie9.css" rel="stylesheet" type="text/css" />
    <![endif]-->
    
    <!--[if gt IE 9]>
    <script type="text/javascript" src="js/flexibility.js" defer></script>
    <![endif]-->
    
    <!--[if gt IE 8]>
    <script type="text/javascript" src="js/background_size_emu.js" defer></script>
    <![endif]-->
    
    //- script(src="js/flexibility.js")
    script(src="js/respond.js")
    
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
    
    <!-- [if !(IE 8)]> -->
    <script src="js/imagesloaded.pkgd.4.js" defer></script>
    <!-- <![endif] -->
    
    <!-- [if IE 8]> -->
    <script type="text/javascript" src="js/imagesloaded.pkgd.3.js" defer></script>
    <!-- <![endif] -->
    
    script(src="js/jquery-imagefill.js", defer)
    script(src="js/masonry.pkgd.js", defer)
    script(src="js/template.js", defer)
    script(src="js/jquery.bxslider.js", defer)
    
    script(src="js/script.js", defer)
  body
    .wrapper.clearfix
      .header__wrapper
        include header.jade
        include promo.jade
      main
        include how_it_works.jade
        include partners.jade
        include ideas.jade
        include search_partners.jade
      include footer.jade
    include idea_template.html
    script(src="js/retina.js")
