$desktop-point: 960px;
$tablet-point: 768px;
$mobile-point: 320px;

$indent-width: 10px;

$heder-height: 540px;

//=============================
//           Colors
//=============================

$white: #fff;
$blac: #333;
$blac2: #666;
$red: #ff4e50;
$yellow: #ffa507;
$green: #1cd7ad;
$blue: #4e73db;

body {
  min-width: $mobile-point;
  margin-right: 18px;
//  overflow: hidden;
  overflow-x: hidden;
  
   @include breakpoint(mobile) {
    background: url(../img/promo_bg_mobile.jpg) no-repeat center 0px;
    background-size: auto $heder-height + 1px;
  }
  
  @include breakpoint(tablet) {
    background: url(../img/promo_bg_desktop.jpg) no-repeat center 0px;
  }
  
  @include breakpoint(desktop) {
    background: url(../img/promo_bg_desktop.jpg) no-repeat center 0px;
  }
  
}
body{
  @media screen and (max-width: 320) { overflow-x: scroll;}
}

h3 {
  @include Montserrat;
  font-weight: bold;
  font-size: 22px;
  color: $blac;
}

h4 {
  @extend h3;
  font-size: 14px;
}
.wrapper{
  width: calc(100% - 1px);
  min-width: $mobile-point;
  overflow-x: hidden;
  margin: auto;
  padding: 1px $indent-width;

}

.clearfix:after {
  display: block;
  content: " ";
  height: 0;
  clear: both;
  visibility: hidden;
}

