@font-face {
    font-family: 'League Gothic';
    src: url('../font/leaguegothic-regular-webfont.eot');
    src: url('../font/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/leaguegothic-regular-webfont.woff2') format('woff2'),
         url('../font/leaguegothic-regular-webfont.woff') format('woff'),
         url('../font/leaguegothic-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "MyriadProRegular";
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
    url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/*********  HEADER  ***********/


.main-wrapper {
    overflow-x: hidden;
    margin: 0 auto;
}
.header-bg {
    background: url('../img/header-background-ie8.jpg') no-repeat top center;
}
.header {
    width: 960px;
    margin: 0 auto;
    padding-top: 1px;
    position: relative;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix:after { 
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
}


.brand-name,
.text-slider__header-hi,
.text-slider__header-lo,
.blurbs-article__header,
.blurbs-article__more,
.testimonials-h1,
.testimonials-h2,
.footer-menu a
{
    font-family: 'League Gothic', arial, 'Helvetica CY', 'Nimbus Sans L',  sans-serif;
    color: #fff;    
}
.text-slider__text {
    font-family: 'League Gothic', arial, 'Helvetica CY', 'Nimbus Sans L',  sans-serif;
}

/*LOGO*/
.logo {
    display: block;
    margin: 0 auto;
    padding-top: 1px;
    text-decoration: none;
}

.brand-name {
    position: relative;
    display: block;
    font-size: 48px;
    letter-spacing: -0.3px;

    text-align: left;
    margin-left: 18px;
    margin-top: 64px;
}

.brand-name__grad {
    margin-left: -7px;
    color: #745083;
}

/*MENU*/
/*hover on HOME*/
.menu--slider {
    width: 632px;
    margin-top: -53px;
    position: absolute;
    top: 127px;
    right: 0px;
}

.a-menu {
    text-decoration: none;
    font-size: 24px;
    margin-left: 42px;
    float: left;
    font-family: 'League Gothic', arial, 'Helvetica CY', 'Nimbus Sans L',  sans-serif;
    color: #fff;    
}
.home-menu {
    margin-left: 19px;
}


.marker-menu{
    position: relative;
}
.marker-menu:after {
    content: '';
    display: block;
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #edbfff;

}

/*SLIDER*/

.slider--header {
    height: 567px;
    width: 960px;
    margin: 164px auto 0px auto;
    position: relative;

} 
.slid1--header,
.slid2--header,
.slid3--header,
.slid4--header {
    display: none;
}

.slid1--header {
    display: block;
}

.text-slider__header-hi {
    position: absolute;
    top: 78px;
    left: 20px;
    font-size: 58px;
}
.text-slider__header-lo {
    position: absolute;
    top: 137px;
    left: 20px;
    font-size: 33px;
    text-transform: uppercase;
    color: #edbfff;
    text-align: left;
}

.text-slider__text {
    position: absolute;
    top: 175px;
    left: 19px;
    font-family: 'Open Sans',  sans-serif;
    color: #fff;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.55px;
    width: 506px;
}

.slider-img {
    position: absolute;
    top: -17px;
    left: 636px;
}

.play-a {
    position: absolute;
    top: 133px;
    left: 771px;
}

#Slide1--header {
    position: absolute;
    top: 493px;
    left: 728px;   
}
#Slide2--header {
    position: absolute;
    top: 493px;
    left: 750px;   
}
#Slide3--header {
    position: absolute;
    top: 493px;
    left: 771px;   
}
#Slide4--header {
    position: absolute;
    top: 493px;
    left: 794px;   
}

/*BLURBS*/
.blurbs-bg {
    border-top: 1px solid #33253b;
    border-bottom: 1px solid #21333b;
    background-color: #000000;
    background: url('../img/bggrad.png');
}
.blurbs {
    display: block;
    width: 960px;
    height: 292px;
    margin: 0 auto;

    padding-top: 47px;
    padding-bottom: -1px;
    position: relative;
}
.blurbs-article {
    position: absolute;
    width: 28%;
    top: 76px;
}
#art1 {
    left: 33px;
}
#art2 {
    left: 372px;
}
#art3 {
    left: 709px;
}

.blurbs-article__header::before {
    content: '';
    position: absolute;
    display: block;
    top: 9px;
    left: -2px;
    background: url(../img/spritesheet.png) no-repeat;
}
.blurbs-article__header--wrench:before {
    width: 30px;
    height: 31px;
    background-position: -55px -1px;    
}
.blurbs-article__header--think:before {
    width: 27px;
    height: 23px;
    background-position: -26px -1px;    
}
.blurbs-article__header--music:before {
    width: 23px;
    height: 25px;
    background-position: -1px -1px;   
}

.blurbs-article__header {
    font-size: 31px;
    margin-left: 50px;
    letter-spacing: -0.4px;
}
.blurbs-article__content {
    margin-right: 10px;
    margin-left: 50px;
    margin-top: 3px;
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 16px;
    letter-spacing: -0.1px;
    line-height: 24px;
    color: #fff;
}
.blurbs-article__more {
    margin-right: 18px;
    margin-top: 7px;
    display: block;
    font-size: 18px; 
    text-decoration: none;
    text-align: right;
    position: relative;
}

.blurbs-article__more:hover {
    position: absolute;
    content: " ";
    display: block;
    top: 149px;
    left: 189px;
    width: 68px;
    height: 28px;
    font-size: 0px;
    background: url('../img/readmore.png');
}


/*==============BLOG===========================*/
.blog-bg {
    background: #f9f9f9;
}

.blog-wrapper {
    padding-top: 1px;
    width: 960px;
    margin: 0 auto;
    position: relative;
}

.slider-testimonials {

}

.slid1,
.slid2,
.slid3,
.slid4 {
    display: none;
    position: absolute;
    top: 102px;
    left: 43px;
    width: 427px;
    height: 273px;
    background: #ffffff;
}

.slid1 {
    display: block;
}

.avatar {
    position: absolute;
    display: block;
    top: 17px;
    left: -25px;
}

.testimonials-h1,
.testimonials-h2 {
    margin-top: 28px;
    margin-left: 39px;
    font-size: 30px;
    display: inline-block;
    letter-spacing: -0.1px;
    text-transform: uppercase;
}

.testimonials-h1 {
    color: #454545;
}
.testimonials-h2 {
     color: #edbfff;
    margin-left: 2px;
}
.testimonials-text {
    font-family: "Open Sans";
    font-size: 16px;
    margin: 11px 47px 0px 38px;
    letter-spacing: -0.05px;
    line-height: 24px;
    height: 200px;
    overflow-y: hidden;
}

.slider-input {
    position: absolute;
    top: 397px;
}
#Slide1 {
    left: 212px;
}
#Slide2 {
    left: 234px;
}
#Slide3 {
    left: 256px;
}
#Slide4 {
    left: 278px;
}

/*blog*/
.blog {
    margin: 130px 10px 10px 528px;
    color: #454545;
    overflow: hidden;
}
.post {
    font-family: 'Open Sans',  sans-serif;
    font-size: 16px;
    position: relative;
}
.post__img {
    /*float: left;*/
    position: absolute;
    top: -3px;
    left: 2px;
    border-radius: 100%
}
.blog-article__header {
    font-family: 'League Gothic', arial, 'Helvetica CY', 'Nimbus Sans L',  sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: -4px;
}
.post__header {
    font-weight: 800;
    margin-top: 25px;
    margin-left: 67px;
}
.post__content {
    margin-top: 8px;
    margin-left: 66px;
    letter-spacing: -0.1px;
}
.moreblogposts {
    margin-top: 28px;
    margin-right: 10px;
    margin-bottom: 79px;
    float: right;
    text-decoration: none;
    font-family: 'League Gothic', arial, 'Helvetica CY', 'Nimbus Sans L',  sans-serif;
    font-size: 18px;
    color: #454545;
}
/*==========================================*/
/*BRAND*/
.brand-bg {
    background: #f9f9f9;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.brand {
    margin: 0 auto;
    overflow: hidden;
    padding-top: 1px;
    width: 960px;
    height: 120px;
}
.brandlogo {
    display: block;
    margin: 15px auto;
    margin-top: 25px;
    margin-left: 59px;
    float: left;
    width: 8%;
    text-align: center;
}

.brandlogo-first {
    margin-left: 109px;
}

/*============================================================*/

/*GROUP11-BG*/

.group11-bg {
    background: #ececec;
    height: 397px;
}
.group11 {
    text-shadow: 0px 1px 0px #fff;
    padding-top: 1px;
    margin: 0 auto;
    position: relative;
    width: 960px;
    display: block;
}

.groop11__article {
    display: none;
    width: 29%;
    float: left;
    height: 209px;
    overflow-y: hidden;
}
.gr1 {
    margin-top: 94px;
    margin-left: 18px;
    height: 210px;
    display: block;
}
.gr2 {
    margin-top: 95px;
    margin-left: 60px;
    display: block;
}
.gr3 {
    margin-top: 96px;
    margin-left: 63px;
    width: 27%;
    display: block;
}
.gr1 .groop11__article__header {
    display: none;
}
.brand-name--groop11 {
    margin: 0;
    color: #454545;
    text-shadow: 0px 1px 0px #fff;
    font-size: 48px;
    text-align: left;
    letter-spacing: -0.7px;
}
.brand-name__grad--groop11 {
    color: #b9b9b9;
}
.groop11__article__copyright {
    font-family: Georgia, "Century Schoolbook L", Charcoal, Serif;
    font-style: italic;
    color: #c5c5c5;
    font-size: 16px;
    margin-top: 14px;
}

.groop11__article__content {
     font-family: 'Open Sans',  sans-serif;
     font-size: 16px;
     font-weight: 300;
     margin-top: 8px;
     line-height: 24px;
}
.groop11__article__header {
    font-family: 'League Gothic', arial, 'Helvetica CY', 'Nimbus Sans L',  sans-serif;
    font-size: 30px;
    color: #454545;
}

/*FOOTER*/

/*FOOTER*/

/*FOOTER-MENU*/

.footer-bg {
    background: url(../img/footer-bg.jpg);
    height: 112px;
    padding-top: 1px;
    box-shadow: inset 0px 3px 11px 0px #666;
}
.footer {
    width: 960px;
    margin: 0 auto;
}

.footer-menu {
    margin-top: 45px;
}
.footer-menu a {
    text-decoration: none;
    font-size: 20px;
    float: left;
    margin-left: 43px;
}
.footer-menu a:first-child {
    margin-left: 22px;
}

.designedby{
    margin: -14px 0px 29px auto;
    text-align: right;
}
.designedby,
.designedby__pingbullAS {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #fff;
    text-shadow: 1px 1.732px 2px #000;
}
.designedby__pingbullAS {
    font-weight: 800;
}
