footer
  .footer__logo
  ul.footer__nav-company Company
    li.nav-company__item 
      a(href="#")About
    li.nav-company__item 
      a(href="#")Contacts
    li.nav-company__item 
      a(href="#")Press
    li.nav-company__item 
      a(href="#")Blog
  ul.footer__nav-partners Partners
  a.footer__designer(href="#")DESIGNED BY
    //- include designed.svg
