footer.footer
  a.logo--footer.footer__item(href="#") URLAUBSGLÜCK
  ul.nav--footer.footer__item Company
    br
    li.nav__item 
      a.nav__link(href="#") About
    li.nav__item 
      a.nav__link(href="#") Contacts
    li.nav__item 
      a.nav__link(href="#") Press
    li.nav__item 
      a.nav__link(href="#") Blog
  ul.nav--footer.footer__item Partners
  a.footer__designer.footer__item(href="#")
    p.designer__title DESIGNED BY
    <!--[if IE 8]>
    <img id="areto-logo" src="img/areto.png" alt="areto">
    <![endif]-->
    include areto.svg
