footer.footer
  a.logo--footer(href="#") URLAUBSGLÜCK
  ul.nav--footer Company
    br
    li.nav__item 
      a.nav__link(href="#") About
    li.nav__item 
      a.nav__link(href="#") Contacts
    li.nav__item 
      a.nav__link(href="#") Press
    li.nav__item 
      a.nav__link(href="#") Blog
  ul.nav--footer Partners
  a.footer__designer(href="#") DESIGNED BY
    include areto.svg
