header.header
  .header__logo
    a.logo(href="#")URLAUBSGLÜCK
  .Header__authorisation
    a.log_in(href="#")
    a.sign_up(href="#")
  .header__content
    h1.header__title Share your holiday dreams
    p.header__text And find the perfect partner to fullfill it
    a.header__find-link(href="#")Find your holiday partner
