section.how-it-works
  h3.how-it-works__title How Urlaubsglück works?
  .sliders-content
    .slide.slide--1
      a.slide__content(href="#")
        span.slide__step STEP 1
        h3.slide__title Sed leo enim, condimentum
        p.slide__text Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
    .slide.slide--2
      a.slide__content(href="#")
        span.slide__step STEP 2
        h3.slide__title Morbi velit risus
        p.slide__text Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.
    .slide.slide--3
      a.slide__content(href="#")
        span.slide__step STEP 3
        h3.slide__title Sed leo enim, condimentum
        p.slide__text Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
        
  .how-it-works__slider#slider_1
    ul.bxslider
      li
        .slide.slide--1
          a.slide__content(href="#")
            span.slide__step STEP 1
            h3.slide__title Sed leo enim, condimentum
            p.slide__text Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
      li
        .slide.slide--2
          a.slide__content(href="#")
            span.slide__step STEP 2
            h3.slide__title Morbi velit risus
            p.slide__text Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.
      li
        .slide.slide--3
          a.slide__content(href="#")
            span.slide__step STEP 3
            h3.slide__title Sed leo enim, condimentum
            p.slide__text Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
        
  .how-it-works__slider#slider_2
    ul.bxslider
      li
        .slide.slide--2
          a.slide__content(href="#")
            span.slide__step STEP 2
            h3.slide__title Morbi velit risus
            p.slide__text Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.
      li
        .slide.slide--3
          a.slide__content(href="#")
            span.slide__step STEP 3
            h3.slide__title Sed leo enim, condimentum
            p.slide__text Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
      li
        .slide.slide--1
          a.slide__content(href="#")
            span.slide__step STEP 1
            h3.slide__title Sed leo enim, condimentum
            p.slide__text Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
        
  .how-it-works__slider#slider_3
    ul.bxslider
      li
        .slide.slide--3
          a.slide__content(href="#")
            span.slide__step STEP 3
            h3.slide__title Sed leo enim, condimentum
            p.slide__text Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
      li
        .slide.slide--1
          a.slide__content(href="#")
            span.slide__step STEP 1
            h3.slide__title Sed leo enim, condimentum
            p.slide__text Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
      li
        .slide.slide--2
          a.slide__content(href="#")
            span.slide__step STEP 2
            h3.slide__title Morbi velit risus
            p.slide__text Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.
