section.how-it-works
  h3.how-it-works__title How Urlaubsglück works?
  .slide.slide--1
    //- img.slide__background(src="img/slide_1.jpg", alt="Step 1 image")
    .slide__content
      span.slide__step STEP 1
      h3.slide__title Sed leo enim, condimentum
      p.slide__text Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
  .slide.slide--2
    //- img.slide__background(src="img/slide_2.jpg", alt="Step 2 image")
    .slide__content
      span.slide__step STEP 2
      h3.slide__title Morbi velit risus
      p.slide__text Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.
  .slide.slide--3
    //- img.slide__background(src="img/slide_3.jpg", alt="Step 3 image")
    .slide__content
      span.slide__step STEP 3
      h3.slide__title Sed leo enim, condimentum
      p.slide__text Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
  .how-it-works__slider#slider_1
  .how-it-works__slider#slider_2
  .how-it-works__slider#slider_3
