section.ideas
  h3.ideas__title Discover holiday activity ideas
  div.ideas__content
    .grid-sizer
    figure.idea
      img.idea__img(src="img/idea_1.jpg", alt="")
      figcaption.idea_title Sport and Activity
    figure.idea
      img.idea__img(src="img/idea_2.jpg", alt="")
      figcaption.idea_title Wellnes and Health
    figure.idea
      img.idea__img(src="img/idea_3.jpg", alt="")
      figcaption.idea_title Extreme Sports and Expeditions
    figure.idea
      img.idea__img(src="img/idea_4.jpg", alt="")
      figcaption.idea_title Games
    figure.idea.idea--width-2x
      img.idea__img(src="img/idea_5.jpg", alt="")
      figcaption.idea_title Culture and Education
    figure.idea.idea--width-2x
      img.idea__img(src="img/idea_3.jpg", alt="")
      figcaption.idea_title Relaxation
    figure.idea
      img.idea__img(src="img/idea_1.jpg", alt="")
      figcaption.idea_title Travelling
  
