<!DOCTYPE html>
html(lang="en-DE")
head
  meta(charset="UTF-8")
  title URLAUBSGLÜCK | Share your holiday dreams
  link(rel="stylesheet", href="css/style.css")
body
  .wrapper.clearfix
    .header__wrapper
      include header.jade
      include promo.jade
    main
      include how_it_works.jade
      include partners.jade
      include ideas.jade
      include search_partners.jade
    include footer.jade
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
  script(src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js")
  script(src="js/script.js")
