<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title URLAUBSGLÜCK | Share your holiday dreams
  link(rel="stylesheet", href="css/style.css")
body
  include header.jade
  include how_it_works.jade
  include partners.jade
  include ideas.jade
  include search_partners.jade
  include footer.jade
