section.partners
  h3.partners__title
  ul
    li
      article.partner-profile
        img.partner-photo(src="", alt="Bradley Hunter")
        .ico
          //- include ico_tv.svg
        h4.partner__name Bradley Hunter
        p.partner__details Based in Chicago. I love playing tennis and loud music.
    li
      article.partner-profile
        img.partner-photo(src="", alt="Heather Walker")
        .ico
          //- include ico_coffe.svg
        h4.partner__name Heather Walker
        p.partner__details I'm a happy person that loves cats and climbing on mountains.
    li
      article.partner-profile
        img.partner-photo(src="", alt="Lucas Marsha")
        .ico
          //- include ico_chim.svg
        h4.partner__name Lucas Marsha
        p.partner__details I get my inspiration from nature and objects around me. I have a passion to colours, typography and skateboards.
    li
      article.partner-profile
        img.partner-photo(src="", alt="Bradley Hunter")
        .ico
          //- include ico_plan.svg
        h4.partner__name Bradley Hunter
        p.partner__details Based in Chicago. I love playing tennis and loud music.
  a.other-partners-link.button--type2(href="") See other partners
