section.search-partners
  h3.search-partners__title
  p.search-partners__text
  form.search-partners__search-form
    input.search-partners__input(type="text" placeholder="Enter your interests")
    input.search-partners__search-button.button--type1(type="submit" value="Search partners")
