.controls {
  @include todo-list;
  margin-bottom: 0;
  @include border-item;
}

.input-item {
  @include reset-input-text;
  $col1:$todolist_text--color;
  $col: $disable-text-color;
  @include placeholder-color($col);
  @include placeholder-text-overflow(ellipsis);
}
