/********************* 
      BREAKPOINTS
*********************/

 @mixin breakpoint($point) {
  @if $point == desktop {
    @media screen and (min-width: $desktop-point) { @content ; }
  }
  @else if $point == tablet {
    @media screen and (max-width: $desktop-point - 1px) and (min-width: $tablet-point) { @content ; }
  }
  @else if $point == mobile {
    @media screen and (max-width: $tablet-point - 1px) and (min-width: $mobile-point) { @content ; }
  }

}

/*********************
      PLACEHOLDER
*********************/

@mixin placeholder-color ($color) {
  &::-webkit-input-placeholder {color:$color;}
  &::-moz-placeholder          {color:$color;}/* Firefox 19+ */
  &:-moz-placeholder           {color:$color;}/* Firefox 18- */
  &:-ms-input-placeholder      {color:$color;}
}

@mixin placeholder-text-overflow($overflow) {
  &[placeholder]          {text-overflow:$overflow;}
  &::-moz-placeholder     {text-overflow:$overflow;}
  &:-moz-placeholder      {text-overflow:$overflow;}
  &:-ms-input-placeholder {text-overflow:$overflow;}
}

@mixin placeholder-hide {
  &:focus::-webkit-input-placeholder {color: transparent}
  &:focus::-moz-placeholder          {color: transparent}
  &:focus:-moz-placeholder           {color: transparent}
  &:focus:-ms-input-placeholder      {color: transparent}

  &::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
  &::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
  &:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
  &:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
  &:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
  &:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
  &:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
  &:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}
}

@mixin reset-input-text {
  background: $white;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
  width: 100%;
}
