.brands.row
  .col-xs-2
    a(href="#brand1")#brand1.brand
  .col-xs-2
    a(href="#brand2")#brand2.brand
  .col-xs-2
    a(href="#brand3")#brand3.brand
  .col-xs-2
    a(href="#brand4")#brand4.brand
  .col-xs-2
    a(href="#brand5")#brand5.brand
  .col-xs-2
    a(href="#brand6")#brand6.brand
