.latest-news
  h3.title-news Latest News
  article.news
    header.news-header
      a.news-title(href="#")
        h4 Advanced Machinery Helps Improve Quality
      span.news-autor by
        a(href="#") cmsmasters
      span.comments  Comments (
        a(href="#") 6
      span.comments )
    p Cum sociis natoque penatibus et magnis dis parturient ontesmus. Pro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur samomo enim ipsam voluptatem.
    .news-poster
      img(src="img/news1.jpg", alt="news pict")
      .month Jan
      .day 23
  article.news
    header.news-header
      a.news-title(href="#")
        h4 Powerful Techniques for Advanced Service
      span.news-autor by
        a(href="#") cmsmasters
      span.comments  Comments (
        a(href="#") 3
      span.comments )
        
    p Cum sociis natoque penatibus et magnis dis parturient ontesmus. Pro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur samomo enim ipsam voluptatem.
    .news-poster
      img(src="img/news2.jpg", alt="news pict")
      .month Jan
      .day 21
