nav.main-menu
	ul
		li.home.active
			a.main-menu_link(href="#home") home
		li.features
			a.main-menu_link(href="#features") features
		li.services
			a.main-menu_link(href="#services") services
		li.news
			a.main-menu_link(href="#news") news
		li.shop
			a.main-menu_link(href="#shop") shop

	form.search(action="#")
		input(type="text" placeholder="Search...")
