.our-services.row
  h1.servise-title Our Services
  .sevice-item.col-xs-3
    a(href="#")
      figure
        img(src="img/servise-1.jpg", alt="")
        figcaption Schedule Services
  .sevice-item.col-xs-3
    a(href="#")
      figure
        img(src="img/servise-2.jpg", alt="")
        figcaption Preventive Maintence
  .sevice-item.col-xs-3
    a(href="#")
      figure
        img(src="img/servise-3.jpg", alt="")
        figcaption Tire & Wheel Services
  .sevice-item.col-xs-3
    a(href="#")
      figure
        img(src="img/servise-4.jpg", alt="")
        figcaption Repair Services
