.site-map-wrapper
  ul.site-map.menu.row
    li.col-xs-3
      h3.site-map-title socials
      ul.link-list
        li
          a(href="") Facebook
        li
          a(href="") Flickr
        li
          a(href="") Twitter
        li
          a(href="") Vimeo
    li.col-xs-3
      h3.site-map-title links
      ul.link-list
        li
          a(href="") How to Write a Blog
        li
          a(href="") Create a Blog in 4 Steps
        li
          a(href="") 15 Tips to Increase Traffic
        li
          a(href="") 20 Blog Post Ideas
    li.col-xs-3
      h3.site-map-title blogroll
      ul.link-list
        li
          a(href="") Blogs Blog
        li
          a(href="") Roll Up Roll Up
        li
          a(href="") Blog Free
        li
          a(href="") Wordpress Blog
    li.col-xs-3
      h3.site-map-title about us
      ul.link-list
        li
          a(href="") Agriculture
        li
          a(href="") Harvest
        li
          a(href="") Company news
        li
          a(href="") Investor relations
