.social-menu
	ul.clearfix
		li
			a(href="https://www.skype.com")
				include ../../img/svg.min/skype.svg
		li
			a(href="https://www.linkedin.com")
				include ../../img/svg.min/linkedin.svg
		li
			a(href="#")
				include ../../img/svg.min/rss.svg
		li
			a(href="https://twitter.com")
				include ../../img/svg.min/twitter.svg
		li
			a(href="https://www.facebook.com", alt="facebook")
				include ../../img/svg.min/facebook.svg
