<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Урок 11-12</title>
	<link rel="stylesheet" href="css/style.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	<script src="js/script.main.min.js"></script>
</head>
<body>
	<div class="wrapper">
		<div class="mycarousel-wrapper clearfix">
			<img class="carousel-arrow-left" src="img/arrow-light-round-right-circle.svg" alt="Влево">
			<div class="mycarousel-hider">
				<ul class="mycarousel-list">
					<li class="mycarousel-element">
						<img src="img/img_01.jpg" alt="ss">
						<p>cat 1</p>
					</li>
					<li class="mycarousel-element">
						<img src="img/img_02.jpg" alt="">
						<p>cat 2</p>
					</li>
					<li class="mycarousel-element">
						<img src="img/img_03.jpg" alt="">
						<p>cat 3</p>
					</li>
					<li class="mycarousel-element">
						<img src="img/img_04.jpg" alt="">
						<p>cat 4</p>
					</li>
					<li class="mycarousel-element">
						<img src="img/img_05.jpg" alt="">
						<p>cat 5</p>
					</li>
					<li class="mycarousel-element">
						<img src="img/img_06.jpg" alt="">
						<p>cat 6</p>
					</li>
					<li class="mycarousel-element">
						<img src="img/img_07.jpg" alt="">
						<p>cat 7</p>
					</li>
					<li class="mycarousel-element">
						<img src="img/img_08.jpg" alt="">
						<p>cat 8</p>
					</li>
					<li class="mycarousel-element">
						<img src="img/img_09.jpg" alt="">
						<p>cat 9</p>
					</li>
				</ul>
			</div>
			<img class="carousel-arrow-right" src="img/arrow-light-round-right-circle.svg" alt="Вправо">
		</div>

		<script type="text/html" id="resume">
			<article class="resume">
				<header class="resume-header">
					<h1 class="resume-title"><%= resumeTitle %></h1>
					<img class="resume-avatar" src="<%= resumeAvatar %>" alt="Photo">
					<p><%= specialty %></p>
				</header>
				<div>
					<p>Учу фронтенд, потому что:</p>
					<ul>
					<% itemps.forEach(function(item) { %>
						<li><%= item %></li>
					<% }); %>
					</ul>
				</div>
				<div>
					<p>Мой контактный телефон<br><%= phoneNumber %><br>
						<br>
						Мой профиль вконтакте<br>
						<a href="<%= vk %>" target="_blank">vk.com</a>
					</p>
				</div>
				<div>
					<p>Мой фидбек: <br><%= feedback %></p>
				</div>
			</article>
		</script>
	</div>
	
</body>
</html>