$icons: (
  sprite: (width: 100px, height: 100px, pngPath: '../img/sprite.png', svgPath: '../img/sprite.svg'),
  done: (width: 40px, height: 40px, backgroundX: 0px, backgroundY: 0px),
  undone: (width: 40px, height: 40px, backgroundX: -50px, backgroundY: -50px),
);
