body {
			background: #333;
			color: #eee;
}

.wrapper {
	margin: 0 auto;
	width: 480px;
	text-align: center;
	background: blue;
}

@media only screen and (min-width: 680px){
	.wrapper {
		width: 680px;
		background: red;
	}
}

.figcaption {
	display: block;
	font-size: 24px;
}

.figure {
	display: block;
}

.another-figcaption {
	display: block;
	font-size: 32px;
}