<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Bot
  link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
  link(rel="stylesheet", href="css/style.css")
body
  div.container
    header.row
      div.col-xs-12
        h1.tytle Имитация бота техподдержки
        button.chat-btn.btn.btn-primary(type="button")
  include chat-template.html
  script(data-main="js/app" src="js/lib/require.js")
