<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Angular</title>
</head>
<body ng-app='app'>

  <div ng-controller="mainController as mainController">
    <div ng-controller="ctrl1 as ctrl1">
      <form action="">
        <input type="text" ng-model="ctrl1.myFactory.hello" bac>
      </form>
    </div>
    </div>
    
    <div ng-controller="ctrl2 as ctrl2">
       <form action="">
        <input type="text" ng-model="ctrl2.myFactory.hello" bac>
      </form>
    </div>
  </div>
  
  <div bac>123</div>




  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.29/angular.min.js"></script>
  <script src="script.js"></script>
</body>
</html>