<script type="text/template" id="item-template">
  <% for (var i = 0; i < data.length; i++) { %>
  <% var status = (data[i].status === true) ? '' : 'checked'; %>
  <li class="todolist__item" data-index="<%= i %>">
    <input type="checkbox" class="toggle" <%= status %> id="item<%= i %>">
    <input type="text" class="item_text" value="<%= data[i].text %>">
    <label for="item<%= i %>" class="toggle__label" >

    </label>
    <button class="delete-item">×</button>
  </li>
  <% }; %>
</script>
