section.ideas
  h3.ideas__title Discover holiday activity ideas
  div.ideas__content
    .grid-sizer
    a.idea(href="#")
      figure
        img.idea__img(src="", alt="")
        figcaption.idea_title
    a.idea(href="#")
      figure
        img.idea__img(src="", alt="")
        figcaption.idea_title
    a.idea(href="#")
      figure
        img.idea__img(src="", alt="")
        figcaption.idea_title
    a.idea(href="#")
      figure
        img.idea__img(src="", alt="")
        figcaption.idea_title
    a.idea.idea--width-2x(href="#")
      figure
        img.idea__img(src="", alt="")
        figcaption.idea_title
    a.idea.idea--width-2x(href="#")
      figure
        img.idea__img(src="", alt="")
        figcaption.idea_title
    a.idea(href="#")
      figure
        img.idea__img(src="", alt="")
        figcaption.idea_title
