section.partners
  h3.partners__title Meet a partner for your best holiday
  .partners-list
    article.partner-profile
      div.partner-photo__wrapper.partner-photo__wrapper--tv
        img.partner-photo(src="img/partner_1.jpg", alt="Bradley Hunter")
      h4.partner__name Bradley Hunter
      p.partner__details Based in Chicago. I love playing tennis and loud music.
    article.partner-profile
      div.partner-photo__wrapper.partner-photo__wrapper--coffe
        img.partner-photo(src="img/partner_3.jpg", alt="Lucas Marsha")
      h4.partner__name Heather Walker
      p.partner__details I'm a happy person that loves cats and climbing on mountains.
    article.partner-profile
      div.partner-photo__wrapper.partner-photo__wrapper--chim
        img.partner-photo(src="img/partner_2.jpg", alt="Heather Walker")
      h4.partner__name Lucas Marsha
      p.partner__details I get my inspiration from nature and objects around me. I have a passion to colours, typography and skateboards.
    article.partner-profile
      div.partner-photo__wrapper.partner-photo__wrapper--plane
        img.partner-photo(src="img/partner_4.jpg", alt="Bradley Hunter")
      h4.partner__name Bradley Hunter
      p.partner__details Based in Chicago. I love playing tennis and loud music.
  a.other-partners-link.button--type2(href="#") See other partners
