.niceCheck {
	height: 17px;
	line-height: 17px;
	display: block;
	cursor: pointer;
	background: url(../img/checkbox.png) no-repeat;
	text-indent: 22px;
	margin: 5px;
}
.niceCheck input {
	display: none;
}



.check-box-input {
    position: absolute;
    left: -9999px;
}
.check-box-input + label {
	height: 17px;
	line-height: 17px;
	display: block;
	cursor: pointer;
	background: url(../img/checkbox.png) no-repeat;
	text-indent: 22px;
	margin: 5px;
}
.check-box-input:checked + label {
	background-position: 0px -17px;
}
