$icons: (
	sprite: (width: 792px, height: 443px, pngPath: '../img/sprite.png', svgPath: '../img/sprite.svg'),
 	areto: (width: 600px, height: 199.42px, backgroundX: 0px, backgroundY: 0px),
 	arrow-left: (width: 29.990000000000002px, height: 54.97px, backgroundX: -610px, backgroundY: -210px),
 	arrow-right: (width: 29.990000000000002px, height: 54.97px, backgroundX: -650px, backgroundY: -275px),
 	ico_chim: (width: 11.68px, height: 15.95px, backgroundX: -690px, backgroundY: -340px),
 	ico_coffe: (width: 16.01px, height: 15.629999999999999px, backgroundX: -712px, backgroundY: -366px),
 	ico_plane: (width: 16px, height: 15px, backgroundX: -739px, backgroundY: -392px),
 	ico_tv: (width: 16.01px, height: 15.969999999999999px, backgroundX: -765px, backgroundY: -417px),
);
