//===================================
//              SIZE
//===================================
$factor: 2;
$wrapper-width: 400px * $factor;

//===================================
//              COLOR
//===================================

$body_background-color: #FFFDE8;

$todolist_background--color: #fffbc4;
$todolist_text--color: darken($todolist_background--color, 75%);
