doctype
head
	title Build Home
	meta(charset='utf-8')
	link(rel="stylesheet", href="css/style.css")
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js")
	script(src="js/script.js")
body
	.container
		header.header
			.row
				.col-xs-4
					include blocks/logo.jade
				.col-xs-8
					include blocks/social-menu.jade
			include blocks/main-menu.jade
		include blocks/slider.jade
		include blocks/blurbs.jade
		include blocks/our-services.jade
		include blocks/news.jade
		include blocks/brands.jade
		include blocks/site-map.jade
		include blocks/footer.jade
