$calor-main: #eee;

@import "box";
@import "button";
@import "filter";
@import "note";
@import "hamburger";
@import "jquery.datetimepicker.min";

.textarea {
  max-width: 100%;
}

.hide {
  display: none;
}

.clearfix:after {
  content: " ";
  display: block;
  clear: both;
}
