@import 'svg/sprite';
@import 'svg/mq';

$ieSprite: '.lt-ie9' !default;
$sprite: map-get($icons, sprite) !default;
$baseFontSize: 16px !default;

@import 'svg/mixins';
@import "core/reset";
@import "core/font";
@import "core/mixins";
@import "core/settings";
@import "core/buttons";

@import "header";
@import "promo";
@import "how_it_works";
@import "partners";
@import "ideas";
@import "search_partners";
@import "footer";
