.mycarousel-wrapper {
  padding: 5px 0px;
  position: relative;
}

.mycarousel-hider {
  width: 820px;
  overflow: hidden;
  float: left;
}

.mycarousel-list {
  list-style: none;
  width: 10000px;
  padding: 0px;
  position: relative;
}

.mycarousel-element {
  display: block;
  margin-right: 25px;
  float: left;
  background: #fff;
  text-align: center;
  padding: 2px;
  margin: 0 3px;
  border: 1px solid #888;
  border-radius: 5px;
}

.mycarousel-element img {
  display: block;
  max-width: 150px;
  border: 1px solid #888;
  border-radius: 4px;
}

.carousel-arrow-left, .carousel-arrow-right {
  float: left;
  display: block;
  width: 50px;
  height: 50px;
}

.carousel-arrow-left:hover, .carousel-arrow-right:hover {
  cursor: pointer;
}

.carousel-arrow-left {
  transform: scale(-1, 1);
}
