.clearfix:after {
  display: block;
  content: " ";
  height: 0;
  clear: both;
  visibility: hidden;
}

body {
  background: #e3e3e3;
  font-family: Verdana, Geneva, "DejaVu Sans", sans-serif;
}

.wrapper {
  margin: 0 auto;
  width: 768px;
  background: #f6f6f6;
}

.resume div,
.resume header {
  border: 0px;
  padding: 0px;
  margin: 0px 60px;
  border-bottom: 1px solid #000;
}

.resume-header {
  text-align: center;
}

.resume div:last-child {
  border-bottom: none;
}

.resume h1{
  font-size: 120%;
  margin-top: 60px;
  border: 0px;
  padding: 0px;
  text-align: center;
}

.resume-avatar {
  width: 150px;
  display: block;
  margin: 0px auto;
  margin-top: 15px;
}

.resume p,
.resume ul {
  margin: 14px;
  border: 0px;
  padding: 0px;
}

.resumeul {
  border: 0px;
  padding: 0px;
}
